<!-- mapa.page.html -->

<ion-content color="danger">
  <div class="map-wrapper">
    <div #mapdiv class="map-container">
      <!-- Contenido del mapa aquí -->
    </div>
  </div>
  <div class="map-title">
    <h1>Información del Cliente</h1>
    <hr class="line-divider">
    <h3>Nombre: {{ cliente.RazonSocial }}</h3>
    <h3>Dirección: {{ cliente.Domicilio }}</h3>
    <!-- Otras propiedades del cliente que desees mostrar -->
  </div>
  <br>
  <div class="tabla-container">
   
      <ion-row>
        <ion-col>ID</ion-col>
        <ion-col>Kg</ion-col>
        <ion-col>Volumen</ion-col>
      </ion-row>
      <ion-row *ngFor="let venta of ventas; let i = index">
        <ion-col>{{ i + 1 }}</ion-col>
        <ion-col>{{ venta.kg }}</ion-col>
        <ion-col>{{ venta.volumen }}</ion-col>
      </ion-row>

  </div>
</ion-content>
